@{
    ViewData["Title"] = "Home Page";
}

@*<header>
    <div class="conatiner">
        <div class="home_header_info">
            <h1 class="typewrite" data-period="2000" data-type='[ "Happiness is closer than you think", "Adventure awaits, go find it.", "Don’t be a tourist, be a traveler." ]'></h1>
            <p>“All journeys have secret destinations of which the traveler is unaware.”</p>
         
            @*<a href="#" >Read More</a>
        </div>
    </div>
    <div class="video">
        <video id="video" autoplay loop muted>
            <source type="video/mp4" src="images/travel-video.mp4" />
        </video>
    </div>
</header>
*@

<Section id="welcome_Sec">
    <div class="container">
        <h2><span>Explore Our Recent Tours</span></h2>
        <p>These are the famous places and photgrapghs of our recent tour, you can explore more and book your dream destination.</p>
    </div>
</Section>

<Section id="slides_parent">
    <div class="container">
        <div class="slides">
            <div class="slide_1">
                <div class="slide_info">
                    <p>Outer Islan</p>
                </div>
            </div>
            <div class="slide_1 slide_2">
                <div class="slide_info">
                    <p>Pacific Harbour and Beqa</p>
                </div>
            </div>
            <div class="slide_1 slide_3">
                <div class="slide_info">
                    <p>Savusavu & Surrounds</p>
                </div>
            </div>
            <div class="slide_1 slide_4">
                <div class="slide_info">
                    <p>Suncoast</p>
                </div>
            </div>
            <div class="slide_1 slide_5">
                <div class="slide_info">
                    <p>Taveuni</p>
                </div>
            </div>
            <div class="slide_1 slide_6">
                <div class="slide_info">
                    <p>Yasawa Islands</p>
                </div>
            </div>
            <div class="slide_1 slide_7">
                <div class="slide_info">
                    <p>Nadi</p>
                </div>
            </div>
        </div>
    </div>
</Section>




